.cont { 
    transform: scale(1) translateX(-100px);
    transition: 1.3s ease-in-out all;
}

.vis {
    opacity: 1; 
    transform: scale(1) translateX(0);
}

.notVis {
    opacity: 0;
}

.mainTitle {
    font-size: '4rem';
    
}



@media only screen and (min-width: 450px) {
    .mainTitle {
        font-size: '2rem';
    }


}