.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    display: flex;
  }
  

  .titleContainer {
    display: flex;
    justify-content: center;
  }

  .audioContainer {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .spotifyBtn {
    background-color: #1DB954;
    color: white;
    border-radius: 30px;
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    width: 30%;
  }

  .riderBtn {
    background-color: #f5f5f5;
    color: black;
    border-radius: 30px;
    padding: 12px 24px;
    border: 1px solid black;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    width: 30%;
  }

  .btnCont {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .spotifyBtn:hover {
    opacity: 0.8;
  }

  .youtube {
    margin-top: 40px;
    width: '490px';
    height: '315px';
  }
  
  .responsiveContainer {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;}
  
  .image-with-margin {
      margin-top: 20px;
  }
  

  @media only screen and (min-width: 768px) {
  }

  @media only screen and (max-width: 400px) {
    .btnCont {
      width: 100%;
    }
    
    .spotifyBtn {
      width: 50%;
    }

    .riderBtn {
      width: 60%;
    }
    
    .youtube {
      width: "400px";
      height: "350px"; 
    }
  }

  @media (max-width: 990px) {
    .image {
      margin-top: 90px;
    }
  }